@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 951px;
    width: 520px;
    background-color: blue;
    background:url('../imagens/Daco_5347290.png');
    
}
iframe#tela{
    position: relative;
    top: 88px;
    left: 73.2px;
    width: 373px;
    height: 735px;
    border-radius:5px;
}
section#redes-sociais > a > img {
    width: 50%;
}