@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 951px;
    width: 520px;
    background-color: blue;
    background:url('../imagens/Daco_5347290.png');
    
}
iframe#tela{
    position: relative;
    top: 90px;
    left: 73px;
    width: 375px;
    height: 737px;
    border-radius:5px;
}
section#redes-sociais img {
    width: 85px;
    margin: 12px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.466);

}
section#redes-sociais img:hover{
    border: 2px solid rgba(128, 128, 128, 0.63);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    transition: transform .5s, border 2s;
}